.ant-typography-edit-content {
    margin: 0px;
    border: 0px;
    inset-inline-start: 0px !important;
}

textarea {
    padding: 0px !important;
}

.ant-typography-edit-content>.ant-input {
    margin: 0px;
    border: 0px;
}