.ant-tree-switcher_open {
    height: 0px !important;
    width: 0px !important;
}

.ant-tree-switcher_close {
    height: 0px !important;
    width: 0px !important;
}

.ant-tree-treenode:before {
    background-color: transparent !important;
    color: '';
}

.space-content-component-tree-node-title:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
    border-radius: 10px;
    transition: background-color 0.01s ease-in-out;
}